h1 {text-align: center;}
body {font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
color:rgb(245, 237, 237);
}

.logo {
height: 50px;
width: 150px;
}

.text-center {
    text-align: center;
    margin: auto;
}
.bg-light {
background: #fff;
color: #333;
}
footer {
padding: 2.2rem;
}
footer p {
margin: 0;
}
